In [1]:
#1.WAS TO PRINT "HELLOWORLD" BY USING SHELL
print("helloworld")

helloworld

In [2]:
#2. WAS TO INTILIZE VARIABLE AND VALUEAS 50
a=50
b=15.03
c=10+6j
d=b'1010'
e=True
f='hello'
g=[10,20,30]
h=(1,2,3)
i={1,2,3}
j={'q':10,1:20}
print(a,b,c,d,e,f,g,h,i,j)

50 15.03 (10+6j) b'1010' True hello [10, 20, 30] (1, 2, 3) {1, 2, 3} {'q': 10, 1: 20}

In [3]:
#3. WAS TO INITIALIZE MUULTIVARIABLE VALUES ARE 150,120,250
a,b,c=150,120,250
print(a)
print(b)
print(c)

150
120
250

In [4]:
#4. WAS TO PRINT THE TYPE OF THE DATA IN GIVEN VALUE
a=[1,2,4]
type(a)

list

In [10]:
#5. WAS TO PRINT THE ADDRESS OF THE MEMORY BLOCK IN A GIVEN VALUE
a=(10,20)
id(a)
id(a[0])
id(a[1])

140716360066440

In [13]:
#6. WAS TO PRINT YOUR DETAILS ,FIRST STORE YOUR DETAILS, EXTRACT THE VALUES AND DISPLAY IT
name='nandhu'
age=22
phone=7297087691
height=5.2
pancard=True
print('Name:',name)
print('Age:',age)
print(name,age,phone,height,pancard)

Name: nandhu
Age: 22
nandhu 22 7297087691 5.2 True

In [16]:
#using dict
nandhu={'name':'priya','age':22,'height':5.2,'phone':7583923902,'pancard':True,'email':'priya@123'}
print(nandhu ['name'])

priya

In [17]:
#7. WAS TO SWAP THE TWO VALUES WITH TEMPORARY VARIABLE
x='haii'
y='bye'
temp=x
x=y
y=temp
print(x)
print(y)

bye
haii

In [18]:
#8. WAS  TO  SWAP THE  TWO VALUES VTHOUT TEMPORARY VARIABLES
a=10
b=20
a,b=b,a
print(a,b)

20 10

In [24]:
#9. WAS TO CONVERT SINGLE TO MULTIVALUE DATATYPE
a=10
a=str(a)
a
print(list(str(a)))

['1', '0']

In [29]:
#10. WAS TO CHECK THE LENGTH OF THE COLLECTION
x=(10,20)
print(len(x))
b=[10,20,60,80]
print(len(b))
a='hello'
print(len(a))
c=10
print(len(c))# its doesnot primitive datatype  so its displayed as error
q=b'1010'
print(len(q))

2
4
5

TypeError: object of type 'int' has no len()